@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --bg: #010103;
  --bg-rgba: rgba(79, 94, 112, 0.7);
  --bg-boder: rgba(79, 94, 112, 1);
  --text: #47dfd3;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

body {
  min-height: 100vh;
  background: url(../IMG/bg_home.jpg);
  height: 1000px;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-rgba);
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  height: 125px;
}
header .logo {
  margin-top: 20px;
  height: 7rem;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #fff;
  display: block;
}

header .navbar ul li a:hover {
  border-radius: 10px;
  color: var(--text);
  text-decoration: underline;
  font-size: 20.5px;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: var(--bg-boder);
  display: none;
}
header .navbar ul li ul li {
  width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
}
header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}
header .top_info a {
  color: #fff;
  align-items: center;
  font-size: 20px;
}
header div a:hover {
  color: #47dfd3;
  margin: 0 auto;
  display: block;
  align-items: center;
}

header.sticky {
  background: var(--bg-boder);
  height: 100px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

@media (max-width: 990px) {
  header {
    padding: 20px;
  }
}
